html,body {
	margin:0;
	padding:0;
	background-color:white;
	color:#303030;
}

html,body,td {
	font-family:arial,sans-serif;
}

h1 {
	text-align:center;
	color:#606060;
}

textarea#bayes_data {
	width:500px;
	height:270px;
}

var {
	font-style: normal;
	white-space: pre;
}


input.result {
	border: 0;
	outline: 3px solid #50d050;
}

.work {
	display:none;

}

.work input {
	border: 0;
	outline: 1px dotted #505050;
}
